@import 'modularscale/modularscale';

$modularscale: (
  base: 1em,
  ratio: 1.2,
);

$spacer-1: 8px * 1;
$spacer-2: 8px * 2;
$spacer-3: 8px * 3;
$spacer-4: 8px * 4;
$spacer-5: 8px * 5;
$spacer-6: 8px * 6;
$spacer-7: 8px * 7;
$spacer-8: 8px * 8;
$spacer-9: 8px * 9;
$spacer-10: 8px * 10;

$size-margin: $spacer-5;
$size-nav: $spacer-10;
$size-corner-radius: $spacer-6;
