@import 'modularscale/modularscale';

$modularscale: (
  base: 1em,
  ratio: 1.2,
);

$size-1: 8px * 1;
$size-2: 8px * 2;
$size-3: 8px * 3;
$size-4: 8px * 4;
$size-5: 8px * 5;
$size-6: 8px * 6;
$size-7: 8px * 7;
$size-8: 8px * 8;
$size-9: 8px * 9;
$size-10: 8px * 10;
